---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import { SolutionsScroll } from '../components/SolutionsScroll';
---

<Layout title="What We Solve | Smart Cushion">
	<Navbar client:load />
	<main class="bg-black">
    {/* All-in-one cinematic journey through the problem */}
    <SolutionsScroll client:load />
	</main>
</Layout>
